<div [ngClass]="alert" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button (click)="alert = 'alert-primary'" class="btn btn-primary mx-1">
  Primary
</button>
<button (click)="alert = 'alert-secondary'" class="btn btn-secondary mx-1">
  Secondary
</button>
<button (click)="alert = 'alert-success'" class="btn btn-success mx-1">
  Success
</button>
<button (click)="alert = 'alert-danger'" class="btn btn-danger mx-1">
  Danger
</button>
<button (click)="alert = 'alert-warning'" class="btn btn-warning mx-1">
  Warning
</button>
<button (click)="alert = 'alert-info'" class="btn btn-info mx-1">
  Info
</button>
<button (click)="alert = 'alert-light'" class="btn btn-light mx-1">
  Light
</button>
<button (click)="alert = 'alert-dark'" class="btn btn-dark mx-1">Dark</button>

<hr />

<h3
  [ngClass]="{
    'text-danger': props.danger,
    'text-info': !props.danger
  }"
>
  Hello World
</h3>

<button
  (click)="props.danger = !props.danger"
  [ngClass]="{ 'btn-danger': props.danger, 'btn-info': !props.danger }"
  class="btn"
>
  Change color
</button>

<hr />

<button
  (click)="ejecutar()"
  class="btn btn-primary"
  type="button"
  name="button"
  [disabled]="loading"
>
  <i
    [ngClass]="{ 'fa-spin fa-refresh': loading, 'fa-save': !loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading" class="mx-2">Save</span>
  <span *ngIf="loading" class="mx-2">Wait</span>
</button>
